.button {
    cursor: pointer;
    border: none;
    border-radius: 0.6rem;
    padding: 0.4rem 1rem;
    box-shadow: 0 0 0.2rem $cream-shadow-500;
    transition: background-color 0.2s ease;
    @include flex(center, null, null, 0.2rem);

    &.primary {
        background-color: $color-primary;

        &.border {
            border: 2px solid $color-primary;
            color: mix(black, $color-primary, 50%);
            &:hover {
                background-color: $color-primary;
            }
        }
    }

    &.green {
        background-color: $color-secondary;

        &.border {
            border: 2px solid $color-secondary;
            color: mix(black, $color-secondary, 50%);
            &:hover {
                background-color: $color-secondary;
            }
        }
    }

    &.blue {
        background-color: $color-info;

        &.border {
            border: 2px solid $color-info;
            color: mix(black, $color-info, 50%);
            &:hover {
                background-color: $color-info;
            }
        }
    }

    &.red {
        background-color: $color-accent;

        &.border {
            border: 2px solid $color-accent;
            color: mix(black, $color-accent, 50%);
            &:hover {
                background-color: $color-accent;
            }
        }
    }

    &.gray {
        background-color: $gray-200;

        &.border {
            border: 2px solid $gray-200;
            color: mix(black, $gray-200, 50%);
            &:hover {
                background-color: $gray-200;
            }
        }
    }

    &.border {
        background-color: transparent;
        padding: calc(0.5rem - 2px) calc(1rem - 2px);
        &:hover {
            background-color: transparent;
            color: $cream-100;
        }
    }
}
