.button {
    cursor: pointer;
    border: none;
    border-radius: 0.6rem;
    padding: 0.4rem 1rem;
    transition: background-color 0.2s ease;
    @include flex($justify: center);
    gap: 0.2rem;

    &.large {
        font-size: 1.4rem;
        font-weight: 500;
        width: 100%;
        height: 4rem;
        border-radius: 0.9rem;
        padding: 0.4rem 2rem;
    }

    &.primary {
        background-color: $color-primary;
        color: $text-white;

        &.border {
            border: 2px solid $color-primary;
            color: $color-shadow-primary;
            &:hover {
                background-color: $color-primary;
            }
        }
    }

    &.green {
        background-color: $color-success;
        color: $text-white;

        &.border {
            border: 2px solid $color-success;
            color: $color-shadow-success;
            &:hover {
                background-color: $color-success;
            }
        }
    }

    &.blue {
        background-color: $color-info;
        color: $text-white;

        &.border {
            border: 2px solid $color-info;
            color: $color-shadow-info;
            &:hover {
                background-color: $color-info;
            }
        }
    }

    &.red {
        background-color: $color-accent;

        &.border {
            border: 2px solid $color-accent;
            color: $color-shadow-accent;
            &:hover {
                background-color: $color-accent;
            }
        }
    }

    &.gray {
        background-color: $gray-200;

        &.border {
            border: 2px solid $gray-200;
            color: $color-shadow-gray;
            &:hover {
                background-color: $gray-200;
            }
        }
    }

    &.border {
        background-color: transparent;
        padding: calc(0.5rem - 2px) calc(1rem - 2px);
        &:hover {
            background-color: transparent;
            color: $cream-100;
        }
    }

    &:disabled,
    &.disabled {
        background-color: $gray-200;
        color: $text-white;
        cursor: not-allowed;
    }
}
