.button {
    cursor: pointer;
    border: none;
    border-radius: 0.6rem;
    padding: 0.4rem 1rem;
    transition: background-color 0.2s ease;
    @include flex($justify: center);
    gap: 0.2rem;

    &.primary {
        background-color: $color-primary;
        color: $text-white;

        &.border {
            border: 2px solid $color-primary;
            color: mix(black, $color-primary, 50%);
            &:hover {
                background-color: $color-primary;
            }
        }
    }

    &.green {
        background-color: $color-success;
        color: $text-white;

        &.border {
            border: 2px solid $color-success;
            color: mix(black, $color-success, 50%);
            &:hover {
                background-color: $color-success;
            }
        }
    }

    &.blue {
        background-color: $color-info;
        color: $text-white;

        &.border {
            border: 2px solid $color-info;
            color: mix(black, $color-info, 50%);
            &:hover {
                background-color: $color-info;
            }
        }
    }

    &.red {
        background-color: $color-accent;

        &.border {
            border: 2px solid $color-accent;
            color: mix(black, $color-accent, 50%);
            &:hover {
                background-color: $color-accent;
            }
        }
    }

    &.gray {
        background-color: $gray-200;

        &.border {
            border: 2px solid $gray-200;
            color: mix(black, $gray-200, 50%);
            &:hover {
                background-color: $gray-200;
            }
        }
    }

    &.border {
        background-color: transparent;
        padding: calc(0.5rem - 2px) calc(1rem - 2px);
        &:hover {
            background-color: transparent;
            color: $cream-100;
        }
    }
}
