#section-box {
    width: 100%;

    header {
        @include flex($justify: flex-start, $align: center);
        gap: 0.4rem;
        cursor: pointer;
        margin-bottom: 0.8rem;

        h1 {
            font-size: 1.5rem;
            font-weight: 600;
        }
        svg {
            font-size: 1.5rem;
            color: $text-secondary;
        }
    }

    .content {
        padding: 1rem;
        background-color: $cream-000;
        border-radius: 1rem;
        box-shadow: 0 0 0.5rem 0.1rem $cream-shadow-300;
    }
}
