.signup {
    &#signup-form {
        .signup-content {
            > button {
                margin-top: 2rem;
            }

            > p {
                padding-left: 0.5rem;
                font-size: 1.3rem;
                color: $text-error;
            }
        }

        .signup-checkbox-container {
            position: relative;
            width: 100%;
            @include flex(center, flex-start, column);
            gap: 1.2rem;

            .signup-checkbox-item {
                @include flex(center, center, row);
                gap: 0.5rem;
            }
        }
    }
}
