#review-tab {
    @include flex(center, center, column);
    gap: 3rem;
    margin: 2rem;
    padding-bottom: calc(2rem + $navbar-height);

    .title {
        font-weight: 500;
        color: $text-secondary;
        text-align: center;

        & > span {
            font-size: 1.8rem;
            color: $color-primary-400;
            border-bottom: 2px solid $color-primary-400;
        }

        & > p {
            margin-top: 0.5rem;
            font-size: 1.3rem;
            font-weight: 500;
            color: $text-secondary;
        }
    }

    .review-star-rating {
        @include flex(center, center, column);
        gap: 4rem;
        width: 100%;

        li {
            @include flex(center, center, column);
            gap: 0.8rem;
            width: 100%;
        }

        .review-textarea-box {
            @include flex(center, center, column);
            gap: 0.8rem;
            width: 100%;
        }
    }

    label {
        font-size: 1.6rem;
        font-weight: 500;
        color: $text-secondary;
    }

    & > label {
        font-size: 1.6rem;
        font-weight: 500;
        color: $text-secondary;
    }
}
