#trend-list {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        li {
            width: fit-content;
            font-size: 1.4rem;
            border-radius: 5rem;
            padding: 0.1rem 0.8rem;
            border: 0.1rem solid $color-info;
            cursor: pointer;

            &.keyword {
                border: 0.1rem solid $color-secondary;
                background-color: rgba($color-secondary, 0.2);
            }

            &.food {
                border: 0.1rem solid $color-primary;
                background-color: rgba($color-primary, 0.2);
            }
        }
    }
}
