@mixin flex($justify: center, $align: null, $direction: row, $gap: 0) {
    display: flex;
    flex-direction: $direction;

    justify-content: $justify;
    align-items: if($align == null, $justify, $align);

    gap: $gap;
}
