#mainLayout {
    height: 100%;

    > header {
        position: sticky;
        top: 0;
        height: 5rem;
        width: 100%;
        z-index: 100;
    }

    > nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }
}
